<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GREEN SHOP API</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
    </head>
    <body>
        <div class="container">
            <h2>Hello, welcome to GREEN SHOP API</h2>
            <p>
                You can download postman collection via this link
                <a href="#!" target="_blank" rel="noopener noreferrer"
                    >GREEN SHOP Postman Collection</a
                >, after the collection was downloaded, You can import to your
                postman as a collection
            </p>
        </div>
    </body>
</html>
